<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SW Planets (0)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SW Planets (0)</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
      <ion-item>Foo</ion-item>
    </ion-list>
  </div>
</ion-content>
